<h2 style="text-align: center"> {{ 'Asociación de Hosteleros de A Coruña' }} </h2>
<table>
    <tr>
        <td>

    <div class="doss" > 
        <img src="../../../assets/images/camarero.jpg " width="auto" alt="Foto"> </div>
</td>
<td>
    <div class="unno" style= "text-align: center" > La Asociación de Hosteleros de A Coruña agrupa los diferentes establecimientos de hostelería referentes al ocio nocturno de la provincia de A Coruña, unidos para promover y defender conjuntamente los intereses comunes de todos los miembros que la integran. </div>
</td>
</tr>
</table>
