<h2 style="text-align: center"> {{ 'Titulo1' | translate }}</h2>
<table>
    <tr>
        <td id="Parte1">

    <div class="doss" > 
        <img src="../../../assets/images/camarero.jpg " width="900px" height="750px" alt="Foto"> </div>
</td>
<td id="Parte2">
    <div class="unno" style="text-align: justify"> {{ 'texto1' | translate }} <br> {{ 'texto2' | translate }} <br> {{ 'texto3' | translate }} <br> <br> {{ 'texto4' | translate }} <br> <a HREF="https://forms.gle/HHcy6JQLTCnawi1E9" target="_blank"> {{ 'textoenlace' | translate }}</a> <br>
        <br>
        {{ 'texto5' | translate }} <br> 
        <li>{{ 'texto6' | translate }}</li> 
        <li>{{ 'texto7' | translate }}</li>
    </div>

</td>
<td id = "Parte3"></td>
</tr>
</table>
