<form [formGroup]="contactForm" (ngSubmit)="save()" class="h-full">
  <div fxLayout="column" fxLayoutGap="20px" class="form-content">
    <div class="input-row">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>Local</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'table.contacts.name' | translate }}"
                formControlName="name" name="contact-name" required />
                <mat-error>{{'namerequired'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'table.contacts.surname1' | translate }}"
                formControlName="surname1" name="contact-surname1" required />
                <mat-error>
                  {{'surname1required'| translate}}
                </mat-error>
            </mat-form-field>
          </div>

          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'Login' | translate }}"
                formControlName="login" name="users-login" required />
                <mat-error>
                  {{'login required'| translate}}
                </mat-error>
            </mat-form-field>
          </div>

          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'Password' | translate }}"
                formControlName="password" name="user-password" required />
                <mat-error>
                  {{'password required'| translate}}
                </mat-error>
            </mat-form-field>
          </div>


        </mat-card-content>
        <mat-card-actions>
          <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">
            <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
              [formNoValidate]="true">{{ 'button.cancel' | translate }}</button>
            <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit" color="primary"
              [disabled]="!contactForm.valid">{{ 'button.save' | translate }}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
